<div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">

  <div class="card-body">
    <h2><%= @cocktail.name %></h2>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description dose.ingredient.name %></li>
      <li><%= link_to "Delete this dose", dose_path(dose), method: 'delete' %></li>
      <br>
    <% end %>
    </ul>
  </div>
  <a class="card-link" href="#" ></a>
</div>


<br>
<%= link_to "Add a dose to this cocktail", new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to "Go back to all cocktails", root_path %>
